<%= flash_messages %>
<div class="block">
	
	<% if current_user %>
<h1>Welcome to user role <%= current_user.roles_name%>  <%= current_user.email%></h1> 
<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% if can? :create, Product %>
  <%= link_to 'New product', new_product_path ,class: 'btn btn-lg btn-primary'%>
<% end %>
<%= link_to 'products list',products_path%>
<% else %>
<h2>signup or signin before continue</h2>
<%= link_to "Sign In", new_user_session_path %>
<%= link_to  "Sign Up", new_user_registration_path %>
<% end %>
	<%#= render "products/index" %>
</div>