<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
      
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>

      <%#= link_to 'employees list',employees_path%>
      <% else %>
      <h2>signup or signin before continue</h2>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to  "Sign Up", new_user_registration_path %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
